

# Environment variable files
.env

# Node.js dependencies
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build files
/dist
/build

# Operating system or IDE specific files (optional, but useful)
.DS_Store
.idea/
.vscode/
