<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container">
      <h2>Login</h2>
      <% if (typeof message !== 'undefined') { %>
      <p class="error-message"><%= message %></p>
      <% } %>
      <form action="/api/auth/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" required /><br />

        <label for="password">Password:</label>
        <input type="password" name="password" required /><br />

        <button type="submit">Login</button>
      </form>
      <p>
        Don't have an account? <a href="/api/auth/register">Sign up here</a>
      </p>
    </div>
  </body>
</html>
